  
<footer class="page-footer font-small bg-navbar pt-4">

    <div class="container">
        <div class="row">
            <div class=" col-md-12 flex justify-content-center">
                <h4 class="text-white text-center"> Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
<ul class="social-network">
    <li>
        <a href="https://www.linkedin.com/in/renata-borsolli-56162910b/"  target="_blank"
        class="iconlink text-white">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a href="https://github.com/Reborsolli"  target="_blank"
        class="iconlink text-white">
        <i class="fa fa-github" aria-hidden="true"></i>

        </a>
    </li>


    <li>
        <a href="https://www.instagram.com/reborsolli"  target="_blank"
        class="iconlink text-white">
        <i class="fa fa-instagram" aria-hidden="true"></i>

        </a>
    </li>
  </ul>


            </div>
        </div>
    </div>
<div class="footer-copyright bg-footer text-center py-3">
    <span class="text-light">  © 2021 Copyright: </span>
    <a class="text-light" target="_blank" href="https://www.instagram.com/reborsolli" > Brasil.generation.com</a>
</div>

</footer>
